<div class="box-it">
<h1>Purchase Order Form (POF)</h1>
<form [formGroup]="regForm" (ngSubmit)="processForm()">
    <table>
        <tr>
            <td>Item Name:</td>
            <td><input type="text" size="30" formControlName="name"> 
            </td>
        </tr>
        <tr>
            <td>Unit Price:</td>
            <td><input type="text" size="30" formControlName="price"></td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td>
                <select formControlName="quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </td>
        </tr>
        <tr></tr>
        <tr><button type="submit">Register</button></tr>
    </table>
</form>
</div>