<div class="box-it">
    <h1>Price list of items</h1>
    <table style="list-style: decimal inside;" class="pricetable">
            <thead>
            <tr>
                <th style="text-align: right;">Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i of _cart; let idx = index">    
                <td style="text-align: left;display: list-item;">{{i.name}}</td>
                <td style="text-align: center;">{{i.price}}</td>
                <td style="text-align: center;">{{i.quantity}}</td>
                <td><button type="button" (click)="deleteItem(idx)">clear</button></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>{{ total}}</td>
                <td></td>
            </tr>
            </tfoot>
    </table>
